@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(208, 35%, 90%);
}

main {
  width: 100%;
  padding: 22.5px;
  display: grid;
  grid-gap: 22.5px;
  justify-content: center;
}

/* Setting up the colors */

.tm-daniel {
  background-color: hsl(263, 55%, 52%);
  color: white;
}

.tm-jonathan {
  background-color: hsl(217, 19%, 35%);
  color: white;
}

.tm-jean,
.tm-kira {
  background-color: white;
  color: hsl(217, 19%, 35%);
}

.tm-patrick {
  background-color: hsl(219, 29%, 14%);
  color: white;
}

.tm-patrick img {
  border: 3px solid hsl(263, 55%, 52%);
}

.tm-daniel img {
  border: 3px solid hsla(263, 85%, 71%, 0.803);
}

/* Styling the cards */

article {
  padding: 30px 20px;
  border-radius: 7.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 17.5px;
  max-width: 425px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

article:hover {
  transform: scale(1.02);
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.heading img {
  border-radius: 100%;
  width: 50px;
  height: auto;
}

.name {
  font-size: 18px;
  font-weight: 500;
}

.job {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.75;
}

.summary {
  font-weight: 500;
  font-size: 22.5px;
}

.details {
  font-size: 16px;
  opacity: 0.8;
}

/* Fixing the quotation */
.tm-daniel {
  position: relative;
}

.tm-daniel .summary,
.heading {
  z-index: 2;
}

.tm-daniel svg {
  position: absolute;
  z-index: 1;
  margin: 5px 20px 0 0;
  right: 0;
  top: 0;
}

@media screen and (min-width: 1100px) {
  article {
    max-width: max-content;
  }
  main {
    padding: 50px 30px;
    display: grid;
    grid-gap: 22.5px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jean patrick patrick kira";
  }

  .tm-daniel {
    grid-area: daniel;
  }

  .tm-jonathan {
    grid-area: jonathan;
  }

  .tm-patrick {
    grid-area: patrick;
  }
  .tm-jean {
    grid-area: jean;
  }

  .tm-kira {
    grid-area: kira;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
